<div id="main-container" style="text-align:center">

  <div class="container">
    <h2>Hello {{nick}}!</h2>

    <div class="container">
      <div>
        <label for="message">Enter Message</label>
        <input type="text" name="message" #msg placeholder="Type Message Here" />
        <input type="submit" value="Send Message" (click)="SendMessage(msg.value)">
      </div>
      
      <div *ngFor="let message of messages">
        <span>{{message.sender ? message.sender : 'Unknown User'}} said {{message.content}}</span>
      </div>
    </div>

  </div>